.card-header {
  position: relative;
  cursor: pointer;
  border-radius: 0 !important;

  .header {
    display: inline-block;
  }

  .time {
    span {
      letter-spacing: 0.1rem;
      font: {
        size: 0.9rem;
        weight: 300;
      }
    }
  }

  .arrow-icon {
    position: absolute;
    right: 0.8rem;
    top: 0.7rem;
    width: 1.2rem;
    height: 1.2rem;
  }
}
