.skills {
  .skills-list {
    .list {
      ul {
        list-style: none;
        padding-right: 0.8rem;
        font: {
          size: calculate_rem(14px);
        }

        li {
          padding-bottom: 0.6rem;
          margin-bottom: 0.4rem;

          .star {
            width: 1rem;

            svg {
              width: 1rem;

              .star,
              .star-half,
              .line {
                fill: none;
              }
            }

            &.animated {
              &.star-filled {
                .line {
                  path {
                    fill: $white;
                  }

                  animation: move_lines 0.4s forwards;
                }

                @keyframes move_lines {
                  98% {
                    transform: translate(0);
                  }

                  100% {
                    display: none;
                  }
                }

                svg {
                  .star {
                    fill: $white;
                  }
                }
              }

              &.star-half {
                .line-3,
                .line-4,
                .line-5 {
                  path {
                    fill: $white;
                  }

                  animation: move_lines 0.4s forwards;
                }

                @keyframes move_lines {
                  98% {
                    transform: translate(0);
                  }

                  100% {
                    display: none;
                  }
                }

                svg {
                  .star-half {
                    fill: $white;
                  }
                }
              }

              &.star-not-filled {
                .line {
                  display: none;
                }

                svg {
                  .star {
                    fill: rgba($light-gray, 0.5);
                  }
                }
              }
            }
          }
        }
      }
    }

    .field-title {
      img {
        width: 2.2rem;
      }

      color: $main-col;
    }

    .filed {
      .title {
        text-transform: uppercase !important;
        font: {
          size: calculate_rem(15px);
        }
      }
    }

    .others {
      //empty
    }
  }
}
