.who-am-i {
  display: none;

  .my-name {
    h1 {
      text-transform: uppercase;
      font: {
        size: 3.5rem;
      }

      .even-word {
        font: {
          weight: bold;
        }
      }

      .odd-word {
        color: $main-col;
      }
    }
  }

  .specification {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: $lighten-second-color;
    font: {
      weight: 300;
    }
  }
}
