.card {
  border-radius: 0 !important;
  color: white;
  margin-bottom: 0.2rem;

  &.first-toggled {
    @import "./SVGAnimations.scss";
  }

  @import "./Common/";

  &.card-dark,
  &.card-default {
    background-color: lighten($main-col, 5);

    @import "./Dark/";
  }

  &.card-light {
    background-color: $white;
    color: inherit;

    @import "./Light/";
  }
}
