.degree-detail {
  .degree {
    display: block;
  }

  .school {
    margin: auto;
    display: block;
    max-width: calculate_rem(150px);
    color: $lighten-second-color;
    font: {
      size: 0.8rem;
    }
  }
}
